{% extends 'brd_source.html' %}

{% block content %}

<main>
    <div class="nav-all-cn">

        <div class="nav-all-items">
            <div>
                <h1>BRD Notes</h1>
            </div>

            <nav>
                <ul>
                    <li><a href="/create-note">Registrar notas</a></li>
                    <li><a href="/notes/getnotes">Tus notas</a></li>
                </ul>
            </nav>
        </div>

        <div class="content-landing">
            <h1>Brd notes</h1>

            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore, blanditiis harum ullam molestiae incidunt minima repellat repudiandae ad itaque necessitatibus laboriosam, 
                pariatur reiciendis quas nulla molestias natus veritatis totam deleniti?</p>
        </div>
        
    </div> 
</main>

{% endblock %}