{% extends 'brd_source.html' %}

{% block content %}


    <div class="tus-notas">
        <div class="todo-nota">

            <h1>Tus notas</h1>
            
            <span></span>
        </div>

        <div class="lista-notas">
            <ul>
                {% for note in notes %}
                <a href='{% url 'notedetail' note.id %}'>
                    <li>
                        {{ note.nota }}
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}